@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: darsk) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'YourFont';
  src: url('/assets/fonts/message.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: YourFont;
  direction: rtl;
  font-size: 3.3vw;
}
